{
    "model_name": "gpt-4",
    "openai_api_key": "<your_api_key_here>",
    "shell": "bash",
    "input_guards": ["empty", "exit", "clear"],
    "input_transformers": ["delimiting"],
    "output_transformers": ["stripping", "line_breaking"],
    "prompt": {
        "hostname": "port-control",
        "username": "admin"
    },
    "ollama": {
        "hostname": "localhost",
        "port": 11434
    }
}
