{
    "model_name": "openchat",
    "openai_api_key": "<your_api_key_here>",
    "system_prompt": "system_prompts/high_value_maritime_system.txt",
    "input_guards": [],
    "input_transformers": ["delimiting"],
    "ollama": {
        "hostname": "localhost",
        "port": 11434
    }
}
