{% extends 'bash.jinja2' %}

{% block deployment %}running on a high-value maritime control system{% endblock %}

{% block context %}managing and monitoring a high-value maritime system{% endblock %}
